*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(wp2993713.webp);
    padding: 0 20px;
}
section.dark{
    background: #24292d;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #868686, 0 0 10px #868686, 0 0 15px #868686, 0 0 20px #fff;
    }
    100% {
        box-shadow: 0 0 10px #868686, 0 0 20px #868686, 0 0 30px #868686, 0 0 40px #fff;
    }
}

section .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 100%;
    max-width: 560px;
    background: #4b4c4d;
    border-radius: 12px;
    position: relative;
    animation: glow 0.5s infinite alternate;
}
section .container .icons i{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    background: #24292d;
    color: #dfd8d8;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.container .icons i.fa-sun{
    opacity: 0;
    pointer-events: none;

}
section .container .time{
    display: flex;
    align-items: center;
}

.container .time .time-colon{
    display: flex;
    align-items: center;
    position: relative;
    color: rgb(213, 215, 218);

}
.container .time .time-colon .am_pm{
    position: absolute;
    top: 0;
    right: -50px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(74, 76, 78);
}
.time .time-colon .time-text{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #5d6872;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(219, 215, 215, 0.2);
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 29px

}
.time .time-colon .colon{
    font-size: 35px;
    font-weight: 600;

}
.time .time-colon .colon{
    font-size: 40px;
    margin: 0 10px;
}
.time .time-colon .time-text .text{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px
}

